<div class="flex">
  <mat-form-field class="flex-auto" appearance="fill">
    <mat-label>{{ label() }}</mat-label>
    <mat-select
      panelClass="mat-select-panel"
      [formControl]="selectedMessage"
      multiple
      (opened)="onOpened()"
    >
      <mat-select-trigger>
        <div class="flex flex-wrap">
          @for (item of split(selectedMessage.value); track $index) {
          <mat-chip class="m-1">{{ item }}</mat-chip>
          }
        </div>
      </mat-select-trigger>
      <mat-option value="x" style="display: none">Option</mat-option>
      <ag-grid-angular
        style="width: 100%; height: 400px"
        class="ag-theme-alpine"
        rowModelType="clientSide"
        (sortChanged)="sortChanged($event)"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [getRowHeight]="getRowHeight"
        [isFullWidthRow]="isFullWidthRow"
        [fullWidthCellRenderer]="fullWidthCellRenderer"
      ></ag-grid-angular>
    </mat-select>
  </mat-form-field>
</div>
